.hero {
  position: relative;
  background-image: url(https://images.pexels.com/photos/8401904/pexels-photo-8401904.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 1000px;
  width: 100%;

  @media (max-width: $mantine-breakpoint-sm) {
    min-height: 500px;
  }
}

.container {
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-bottom: calc(var(--mantine-spacing-xl) * 6);
  z-index: 1;
  position: relative;

  @media (max-width: $mantine-breakpoint-sm) {
    height: 500px;
    padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  }
}

.title {
  color: var(--mantine-color-white);
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 40px;
    line-height: 1.2;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
    line-height: 1.3;
  }
}

.description {
  color: var(--mantine-color-white);
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
    font-size: var(--mantine-font-size-sm);
  }
}

.control {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}
