.section {
  background-color: var(--app-background);
  color: var(--app-text-primary);
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.card {
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
  border-radius: var(--mantine-radius-md);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: var(--mantine-spacing-xl);
}

.title {
  font-weight: 600;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: 32px;
}
